<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Credit Card System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="@{/css/shards.min.css}" />
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Credit Card System</h2>
            <div class="row">
                <div class="col-md-6">
                
                <!-- used thymeleaf template, @{} URL expression to specify the form's action attribute and 
                the ${} variable expressions for embedding dynamic content in the template, 
                such as the values of the name and email fields and the post-validation errors.  -->
                
                    <form action="#" th:action="@{/add}" th:object="${account}" method="post" >
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="customerName" class="col-form-label">Name</label>
                                
                                <input type="text" th:field="*{customerName}" class="form-control" id="customerName" required="required">
                                
                                <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="text-danger"></span>
                                
                            </div>
                           <div class="form-group col-md-6">
                                <label for="cardNumber" class="col-form-label">Card Number</label>
                                <input type="number" th:field="*{cardNumber}" class="form-control" id="cardNumber" required="required">
                                <span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cardLimit" class="col-form-label">Limit</label>
                                <input type="number" th:field="*{cardLimit}" class="form-control" id="cardLimit" required="required">
                                <span th:if="${#fields.hasErrors('cardLimit')}" th:errors="*{cardLimit}" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add Details" >
                            </div>
                            
                        </div>    
                    </form>
					</div>     
                </div>
            </div>
       </body>
</html>
